*{
    margin: 0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
  
  background:#fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#landing{
    background:url('../images/landing-back.jpg');
    min-height: 100vh;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#heading{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

#heading h2{
    padding: 10px;
    margin:10px;
    font-size: 36px;

}

#heading a{
    padding: 10px;
    margin:30px;
    color:#000;
    text-decoration: none;
    border:#000 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-right:20px;
    height:20px;
}

#heading a:hover{
    color: #000;
    background-color: white;
    opacity:0.7;
}


#showcase {
    height: 95vh;
   display: flex;
   clear: both;
   flex-direction: column;
   justify-content:center;
  align-items:center;
}

#showcase p{
    margin: 15px;
    font-size: 25px;
    line-height: 1.6;
    max-width: 400px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Yellowtail', cursive;
}

#showcase a{
    padding: 10px;
    margin:50px;
    color:#000;
    text-decoration: none;
    border: #000 1px solid;
    border-radius: 10px;
    text-align: center;
}
#showcase a:hover{
    opacity: 0.7;
    
}

.tag{
  color: black;
  margin: 40px auto;
  max-width:400px;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 48px;
  font-weight: bolder;
  border-top: #000 solid 1px;
  border-bottom: #000 solid 1px;
  padding:10px;
  text-align: center;
}

#services{
    /* border:1px solid #000; */
    border-radius: 10px;
    width:1000px;
    margin: 100px auto;
     ;
    background-color: beige;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.serv-1{
    margin:15px;
    background: url('../images/fitness-tracker.jpg');
    height: 300px;
    width:300px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.serv-1 p{
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    top:100px;
    
}

.serv-1 a{
    padding: 10px;
    margin:10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border:#000 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    
}

.serv-1 a:hover{
    color: #000;
    background-color: white;
    opacity:0.7;
}

.serv-2{
    margin:15px;
    background: url('../images/analytics.jpg');
    height: 300px;
    width:300px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.serv-2 p{
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    top:100px;
    
}

.serv-2 a{
    padding: 10px;
    margin:10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border:#000 1px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    
}

.serv-2 a:hover{
    color: #000;
    background-color: white;
    opacity:0.7;
}

#footer-wrapper{
    background-color: #264d73;
    font-size:20px;
    height:250px;
    position: relative;
   
}



.footer-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #111;
    
}
.copyright{
  background: rgb(9, 163, 224);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




.links ul{
  list-style: none;
  text-align: start;
}

.links li {
  padding: 5px;
  margin:10px;
}

.footer-about{
  grid-column: span 2;
  text-align: start;
  padding:20px ;
  font-family: 'Courier New', Courier, monospace;
 
}

.contact-us input , .contact-us textarea{
 

  opacity: 50%;
  width:70%;
  padding: 10px;
  margin: 3px auto;
}

form h3{
  padding: 5px;
}

.contact-us .btn{
  cursor: pointer;
  margin: 2px auto;
  text-align: center;
}

.contact-us .btn:hover{
  background: #444;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
  }
  
  h2 span {
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
  }
  
  .container > div {
      color: #fff;
    cursor: pointer;
    height: 210px;
    background-size: cover;
    background-attachment: fixed;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    transition: all 0.5s ease-in;
  }
  
  .container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
  }
  
  .container > div:nth-of-type(1) {
    grid-column: 1 / 3;
  }
  
  .container > div:nth-of-type(6) {
    grid-column: 3 / 5;
  }
  
  .container > div:nth-of-type(9) {
    grid-column: 3 / 5;
  }
  
  .container > div:nth-of-type(10) {
    grid-column: 1 / 3;
  }
  
  .bg-1 {
    background: url('https://i.ibb.co/dBLbrRV/bg1.jpg');
  }
  
  .bg-2 {
    background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
    color: #333;
  }
  